USE [master]
GO
/****** Object:  Database [ClinicManagementSystem]    Script Date: 10/12/2025 1:17:52 PM ******/
CREATE DATABASE [ClinicManagementSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Clinic Management System', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Clinic Management System.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Clinic Management System_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Clinic Management System_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ClinicManagementSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ClinicManagementSystem]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 10/12/2025 1:17:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[AppointmentID] [int] NOT NULL,
	[PatientID] [int] NULL,
	[ServiceID] [int] NULL,
	[AppointmentDate] [datetime] NULL,
	[Status] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatientDeleteLog]    Script Date: 10/12/2025 1:17:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientDeleteLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Phone] [nvarchar](30) NULL,
	[Email] [nvarchar](50) NULL,
	[DeletedDateTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 10/12/2025 1:17:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[PatientID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](250) NULL,
	[Address] [nvarchar](300) NOT NULL,
	[MedicalNotes] [nvarchar](max) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Gendor] [bit] NOT NULL,
	[PatientImage] [nvarchar](max) NULL,
 CONSTRAINT [PK__Patients__970EC346239DF807] PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 10/12/2025 1:17:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ServiceID] [int] NOT NULL,
	[ServiceName] [nvarchar](100) NOT NULL,
	[Price] [smallmoney] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/12/2025 1:17:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PatientDeleteLog] ON 

INSERT [dbo].[PatientDeleteLog] ([LogID], [PatientID], [Name], [Phone], [Email], [DeletedDateTime]) VALUES (1, 2, N'XMMW', N'090', N'n@.com', CAST(N'2025-10-05T14:41:18.590' AS DateTime))
SET IDENTITY_INSERT [dbo].[PatientDeleteLog] OFF
GO
SET IDENTITY_INSERT [dbo].[Patients] ON 

INSERT [dbo].[Patients] ([PatientID], [FirstName], [LastName], [Phone], [Email], [Address], [MedicalNotes], [DateOfBirth], [Gendor], [PatientImage]) VALUES (1, N'Wael', N'Mohammed', N'0907150190', N'z@c.com', N's', N'hj', CAST(N'2025-01-01' AS Date), 0, NULL)
SET IDENTITY_INSERT [dbo].[Patients] OFF
GO
INSERT [dbo].[Users] ([UserID], [UserName], [Password], [IsActive]) VALUES (1, N'Wael7', N'1234', 1)
INSERT [dbo].[Users] ([UserID], [UserName], [Password], [IsActive]) VALUES (2, N'S7', N'1234', 0)
GO
ALTER TABLE [dbo].[PatientDeleteLog] ADD  DEFAULT (getdate()) FOR [DeletedDateTime]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK__Appointme__Patie__3C69FB99] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patients] ([PatientID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK__Appointme__Patie__3C69FB99]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ServiceID])
GO
/****** Object:  StoredProcedure [dbo].[SP_AddPatient]    Script Date: 10/12/2025 1:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AddPatient]
@PatientID INT OUTPUT,
@FirstName NVARCHAR(100),
@LastName NVARCHAR(100),
@Phone NVARCHAR(50),
@Email NVARCHAR(250),
@Address NVARCHAR(250),
@MedicalNotes NVARCHAR(100)

AS
BEGIN
INSERT INTO Patients(FirstName, LastName , Phone,  Email, Address, MedicalNotes) values
(@FirstName, @LastName,@Phone,@Email, @Address, @MedicalNotes)
END
SET @PatientID = SCOPE_IDENTITY()
GO
/****** Object:  StoredProcedure [dbo].[SP_DeletePatient]    Script Date: 10/12/2025 1:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DeletePatient]
   @PatientID INT
AS

BEGIN
DELETE FROM Patients WHERE PatientID = @PatientID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllPatients]    Script Date: 10/12/2025 1:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_GetAllPatients]
AS
BEGIN
select * from Patients
END
GO
USE [master]
GO
